<div class="container mt-5 text-center">
    <h1 class="text-info">Patients List</h1>
    <div *ngIf="patients.length > 0">
        <table class="table table-bordered table-sm">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Patient Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Add Data</th>
                    <th>Analyse</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients">
                    <td>{{patient.id}}</td>
                    <td>{{patient.firstName}}</td>
                    <td>{{patient.lastName}}</td>
                    <td>{{patient.age}}</td>
                    <td>
                        <button class="btn btn-success btn-block" (click)="addData(patient.id)">Add Data</button>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-block" (click)="analyse(patient.id)">Analyse</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-info btn-block" (click)="addPatient()">Register Patient</button>
    </div>
</div>