<div class="container mt-5 text-center">
    <h1 class="text-success">Patient Details</h1>
    First Name : {{patient.firstName}} <br>
    Last Name : {{patient.lastName}} <br>
    Age : {{patient.age}}
    <hr>
    <h3 class="text-success">Clinical Report</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Component Name</th>
                <th>Component Value</th>
                <th>Measured Date & Time</th>
            </tr>
        </thead>
        <tr *ngFor="let report of patientReports">
            <td>{{report.componentName}}</td>
            <td>{{report.componentValue}}</td>
            <td>{{report.measuredDateTime}}</td>
        </tr>
    </table>
    <button class="btn btn-success btn-block" (click)="handleClick()">Home</button>
</div>